# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env

# Tests
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Notebook
.ipynb_checkpoints/

# Local data & outputs (keep READMEs)
data/raw/*
!data/raw/README.md

artifacts/*
!artifacts/README.md

# OS
.DS_Store
Thumbs.db
